#container {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  
  // --- controls power style state { totalTime:32, inhale: totalTime/8, inHold: totalTime/8, exhale: totalTime/8, exHold: totalTime/8 }
  .power {
    border-radius: 50%;
    background: radial-gradient(red, rgb(248, 171, 82), #ffffff00);
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0.5;
    animation: scale2 32s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  }
  @keyframes scale2 {
    0% {
      transform: scale(0.5, 0.5);
    }
    25% {
      transform: scale(2.5, 2.5);
    }
    50% {
      transform: scale(2.5, 2.5);
    }
    75%{
      transform: scale(0.5, 0.5);
    }
   100%{
      transform: scale(0.5, 0.5);
    }
  }
  // end power ---
  
  