body {
  background-color: rgb(211, 229, 221);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

input {
  display: block;
}

input[type=text], input[type=email], input[type=password]{
  width: 80%;
  padding: 10px;
  margin: 10px;
}

.login-msg {
  padding: 0px 5%;
}

/** CONTAINERS **/

.animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.login, .signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90%;
}

.MuiSvgIcon-root	{
  margin: 10px 5px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu {width: 85%}
  .MuiDrawer-paperAnchorLeft {width: 100%}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .menu {width: 85%}
  .MuiDrawer-paperAnchorLeft {width: 500px}
}

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .menu {width: 85%}
  .MuiDrawer-paperAnchorLeft {width: 50%}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-height: 768px) {
  .menu {width: 85%}
  .MuiDrawer-paperAnchorLeft {width: 100%}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu {width: 85%}
  .MuiDrawer-paperAnchorLeft {width: 500px}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
//@media only screen and (min-width: 1200px) {...}